* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.header-hero-container {
    background-color: #165cac;
    display: flex;
    flex-direction: column;
    /* height: 500px; */
}

/* Header Section */
.header-container {
    background-color: #034694;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    border-radius: 3px;
    align-items: center;
}

.header-logo {
    font-size: 28px;
    color: #FFD700;
}

.links-container ul {
    display: flex;
    gap: 32px;
    font-size: 20px;
    list-style: none;
    color: #E8E8E8;
}

.links-container a {
    color: #E8E8E8;
    text-decoration: none;
}

/* Heros Section */
.header-hero-container > .hero-container {
    align-self: center;
}

.hero-container {
    /* border: 2px solid red;  Place holder to visualize */
    display: flex;
    gap: 60px;
    margin: 70px 0px 70px 70px;
    flex: auto;
    /* align-items: stretch; */
    /* height: 300px; */
}

.hero-text-signup, .hero-image {
    /* border: 2px solid black;  Place holder to visualize */
}

.hero-text-signup {
    align-self: center;
}


/* Ensure items grow and fill out container */
.hero-container > div {
    flex: 1;
}

.hero-container > .hero-image {
    flex: 1;
}

.hero-title {
    color: #FFD700;
    font-size: 24px;
    margin-bottom: 21px;
}

.hero-description {
    color: #E8E8E8;
    margin-bottom: 21px;
    font-size: 21px;
    max-width: 800px;
    line-height: 1.5;

}

.hero-signup > button {
    background-color: #FFD700;
    color: #034694;
    border-radius: 10px;
    padding: 10px 25px;
    align-self: flex-end;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image > img {
    flex: auto;
    max-width: 100%;
}

/* Random Information Section */
.random-information-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    /* border: 2px solid blue; */
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
    /* border: 2px solid black; */
}

.img-box {
    height: 280px;
    width: 350px;
    /* border: 4px solid black; */
    border-radius: 12px;
    border: #034694 7px solid;
}

.box-information {
    font-size: 18px;
    text-align: center;
    max-width: 350px;
    margin-top: 10px;
}

/* Quote Section */

/* Center the quote-container horizontally */
.quote-section {
    display: flex;
    background-color: #E8E8E8;
    /* height: 260px; */
    padding: 100px 0px;
    justify-content: center;
}

/* Flex grow to 0 to make the end of quote and author line up */
.quote-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}

/* Quote - Create space between quote and the author*/
.quote-container > p {
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Author name - Align horizontally to the end of the container */
.author {
    font-size: 20px;
    align-self: flex-end;
    color: #034694;
}


/* Call to Action */

.call-to-action-section {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 100px 0px;
}


.call-to-action-section-container {
    display: flex;
    padding: 50px 100px;
    border-radius: 7px;
    background-color: #034694;
    gap: 120px;

}


.call-to-action-section-container  p {
    font-size: 35px;
}

.call-to-action-firsttext {
    color: #FFD700;

}

.call-to-action-secondtext {
    color: #E8E8E8;
}


.call-to-action-section-container button {
    background-color: #034694;
    border: #FFD700 4px solid;
    color: #E8E8E8;
    border-radius: 10px;
    padding: 10px 25px;
    align-self: flex-end;
    font-size: 25px;
    flex-shrink: 0;
}

/* Footer Section */
.footer-section {
    display: flex;
    justify-content: center;
    background-color: #1a1a2e;
    color: white;
    padding: 40px;
    font-size: 25px;

}