* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.header-hero-container {
    background-color: #165cac;
    display: flex;
    flex-direction: column;
    height: 500px;
}

/* Header Section */
.header-container {
    background-color: #034694;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: 3px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #FFD700;
}

.links-container ul {
    display: flex;
    gap: 32px;
    font-size: 16px;
    list-style: none;
    color: #E8E8E8;
}

.links-container a {
    color: #E8E8E8;
    text-decoration: none;
}

/* Heros Section */
.hero-container {
    border: 2px solid red;  /* Place holder to visualize */
    display: flex;
    /* align-items: stretch; */
    gap: 60px;
    height: 300px;
    margin: 60px 30px;
}

.hero-text-signup, .hero-image-container {
    border: 2px solid black;  /* Place holder to visualize */
}

/* Ensure items grow and fill out container */
.hero-container > div {
    flex: 1;
}

.hero-title {
    color: #FFD700;
    font-size: 24px;
    margin-bottom: 21px;
}

.hero-description {
    color: #E8E8E8;
    margin-bottom: 21px;
    font-size: 21px;
    max-width: 800px;
}

.hero-signup > button {
    background-color: #FFD700;
    color: #034694;
    border-radius: 10px;
    padding: 10px 25px;
    align-self: flex-end;
}

.hero-image-container {
    display: flex;
    justify-content: center;
}

.hero-image-container > img {
    flex: auto;
    max-width: 100%;
}

/* Random Information Section */
.random-information-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    border: 2px solid blue;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
    /* border: 2px solid black; */
}

.img-box {
    height: 280px;
    width: 350px;
    border: 4px solid black;
    border-radius: 12px;
}

.box-information {
    font-size: 18px;
    text-align: center;
    max-width: 350px;
    margin-top: 10px;
}

