* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: purple 2px solid; */
    /* font-family: monospace; */
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 520px;
    gap: 100px
}

.header-logo-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.header-logo {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    display: flex;
    font-size: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    gap: 70px;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    align-self: center;
    gap: 72px;
}

.hero-sign-up {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 100px;
    padding: 7px;
    background-color: #3882F6;
    color: white;
    border-radius: 25px;

}
.hero-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 500px;
    height: 250px;
    border-radius: 20px;
}
















.random-information-section {
    text-align: center;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    gap: 49px;
}

.random-information.img-container {
    display: flex;
    gap: 49px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.box {
    border: 3px solid blue;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}
.quote-container {
    height: 260px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 110px;
}

.quote-author-container {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-size: 36px;
    color: black;
    font-weight: bold;
    align-self: flex-end;
}

.call-action-container {
    height: 210px;
}

.footer {
    height: 68px;
    background-color: #1F2937;
}
